#header {
  width: 100%;
  background-color: #F2F2F2;
  opacity: 0.95;
  display: flex;
  position: fixed;
  z-index: 10;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #263238;
  margin: 10px auto;
}
#header .header__logo {
  margin-top: 4px;
}
#header .header__logo img {
  width: 100%;
}
#header .header__navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header .header__navbar.open {
  display: flex;
  margin: 0;
}
#header .header__navbar .header__menu {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  margin-right: 60px;
}
#header .header__navbar .header__menu .header__item .header__link {
  color: #263238;
}
#header .header__navbar .header__menu .header__item .header__link:hover {
  color: #FF8C92;
}
#header .header__navbar .header__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  #header .header__navbar .header__button {
    margin: 0 auto;
  }
}
#header .header__navbar .header__button img {
  width: 22px;
  margin-left: 8px;
}
#header .header__burger {
  display: none;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 32px;
  height: 18px;
  z-index: 50;
}
#header .header__burger.active span {
  transform: scale(0);
}
#header .header__burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
#header .header__burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
#header .header__burger::after, #header .header__burger::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #263238;
  transition: all 0.3s;
}
#header .header__burger::before {
  top: 0;
}
#header .header__burger::after {
  bottom: 0;
}
#header .header__burger span {
  height: 3px;
  width: 100%;
  transform: scale(1);
  background-color: #263238;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  #header .header__logo {
    margin-top: 4px;
  }
  #header .header__logo img {
    width: 70%;
  }
  #header .header__burger {
    display: flex;
  }
  #header .header__burger.active::after, #header .header__burger.active::before {
    background-color: #fff;
    transition: all 0.3s;
  }
  #header .header__burger.active span {
    background-color: #fff;
    transition: all 0.3s;
  }
  #header .header__navbar {
    opacity: 0;
    height: 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 60% 30%;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    overflow-y: auto;
    background-color: #4E4E4E;
    transition: all 1s;
  }
  #header .header__navbar.open {
    opacity: 1;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 60% 30%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
  }
  #header .header__navbar .header__menu {
    height: 50%;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  #header .header__navbar .header__menu .header__item .header__link {
    color: #fff;
    font-size: 18px;
  }
  #header .header__navbar .header__chat {
    margin: 0 auto;
  }
}