@import "../variables.scss";

#footer {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 80px 0 40px 0;

    @media screen and (max-width: $bp-large) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      place-items: center;
    }
    &__logo {
      display: grid;
      justify-content: flex-start;
      align-items: center;
      img {
      }
    }
    &__text {
      text-align: end;
      @media screen and (max-width: $bp-large) {
        text-align: center;
        margin-top: 24px;
      }
      .footer__title {
      }
      .footer__desc {
        margin-top: 12px;
      }
    }
  }
}
