* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

main {
  padding-top: 100px;
}

body,
html,
#wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #F2F2F2;
}

section {
  margin: 10% auto;
}
@media screen and (max-width: 768px) {
  section {
    margin: 15% auto;
  }
}
@media screen and (max-width: 480px) {
  section {
    margin: 20% auto;
  }
}
section:first-child {
  margin: 5% auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.container {
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
}

#header {
  height: 100px;
}
@media screen and (max-width: 992px) {
  #header {
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  #header {
    height: 70px;
  }
}
@media screen and (max-width: 480px) {
  #header {
    height: 60px;
  }
}

h1 {
  font-size: 70px;
  font-weight: 800;
  line-height: 91px;
  color: #263238;
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 63px;
    line-height: 84px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 56px;
    line-height: 77px;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 49px;
    line-height: 70px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #263238;
}
@media screen and (max-width: 992px) {
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 32px;
    line-height: 44px;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 28px;
    line-height: 40px;
  }
}

h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 45.5px;
  color: #263238;
}
@media screen and (max-width: 992px) {
  h3 {
    font-size: 31.5px;
    line-height: 42px;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 28px;
    line-height: 38.5px;
  }
}
@media screen and (max-width: 480px) {
  h3 {
    font-size: 24.5px;
    line-height: 35px;
  }
}

h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  color: #263238;
}
@media screen and (max-width: 992px) {
  h4 {
    font-size: 27px;
    line-height: 36px;
  }
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 24px;
    line-height: 33px;
  }
}
@media screen and (max-width: 480px) {
  h4 {
    font-size: 21px;
    line-height: 30px;
  }
}

h5 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36.4px;
  color: #263238;
}
@media screen and (max-width: 992px) {
  h5 {
    font-size: 25.2px;
    line-height: 33.6px;
  }
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: 22.4px;
    line-height: 30.8px;
  }
}
@media screen and (max-width: 480px) {
  h5 {
    font-size: 19.6px;
    line-height: 28px;
  }
}

h6 {
  font-size: 25px;
  font-weight: 600;
  line-height: 32.5px;
  color: #263238;
}
@media screen and (max-width: 992px) {
  h6 {
    font-size: 22.5px;
    line-height: 30px;
  }
}
@media screen and (max-width: 768px) {
  h6 {
    font-size: 20px;
    line-height: 27.5px;
  }
}
@media screen and (max-width: 480px) {
  h6 {
    font-size: 17.5px;
    line-height: 25px;
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: #263238;
  font-family: "Inter";
}
@media screen and (max-width: 992px) {
  p {
    font-size: 16.2px;
    line-height: 21.6px;
  }
}
@media screen and (max-width: 768px) {
  p {
    font-size: 14.4px;
    line-height: 19.8px;
  }
}
@media screen and (max-width: 480px) {
  p {
    font-size: 12.6px;
    line-height: 18px;
  }
}

a {
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  color: #263238;
  font-family: "Inter";
}
@media screen and (max-width: 992px) {
  a {
    font-size: 16.2px;
    line-height: 21.6px;
  }
}
@media screen and (max-width: 768px) {
  a {
    font-size: 14.4px;
    line-height: 19.8px;
  }
}
@media screen and (max-width: 480px) {
  a {
    font-size: 12.6px;
    line-height: 18px;
  }
}

button {
  width: 200px;
  height: 80px;
  border-radius: 70px;
  border: 0;
  padding: 20px 40px 20px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  color: #263238;
}
@media screen and (max-width: 992px) {
  button {
    font-size: 16.2px;
    line-height: 21.6px;
  }
}
@media screen and (max-width: 768px) {
  button {
    font-size: 14.4px;
    line-height: 19.8px;
  }
}
@media screen and (max-width: 480px) {
  button {
    font-size: 12.6px;
    line-height: 18px;
  }
}
button.button__white {
  background: #fff;
  color: #263238;
}
button.button__white:hover {
  background: #263238;
  color: #fff;
}
button.button__black {
  background: #263238;
  color: #fff;
}
button.button__black:hover {
  background: #fff;
  color: #263238;
  border: 2px solid #263238;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button {
  transition: all 0.3s;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
a span,
p span,
button span {
  color: #FF8C92;
}