* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

body,
html,
#wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.container {
  width: 1400px;
  max-width: 90%;
  margin: 0 auto;
}

#header {
  height: 100px;
}
@media screen and (max-width: 992px) {
  #header {
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  #header {
    height: 70px;
  }
}
@media screen and (max-width: 480px) {
  #header {
    height: 60px;
  }
}

h1 {
  font-size: 70px;
  font-weight: 800;
  line-height: 91px;
  color: #263238;
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 63px;
    line-height: 84px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 56px;
    line-height: 77px;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 49px;
    line-height: 70px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #263238;
}
@media screen and (max-width: 992px) {
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 32px;
    line-height: 44px;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 28px;
    line-height: 40px;
  }
}

h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 45.5px;
  color: #263238;
}
@media screen and (max-width: 992px) {
  h3 {
    font-size: 31.5px;
    line-height: 42px;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 28px;
    line-height: 38.5px;
  }
}
@media screen and (max-width: 480px) {
  h3 {
    font-size: 24.5px;
    line-height: 35px;
  }
}

h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  color: #263238;
}
@media screen and (max-width: 992px) {
  h4 {
    font-size: 27px;
    line-height: 36px;
  }
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 24px;
    line-height: 33px;
  }
}
@media screen and (max-width: 480px) {
  h4 {
    font-size: 21px;
    line-height: 30px;
  }
}

h5 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36.4px;
  color: #263238;
}
@media screen and (max-width: 992px) {
  h5 {
    font-size: 25.2px;
    line-height: 33.6px;
  }
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: 22.4px;
    line-height: 30.8px;
  }
}
@media screen and (max-width: 480px) {
  h5 {
    font-size: 19.6px;
    line-height: 28px;
  }
}

h6 {
  font-size: 25px;
  font-weight: 600;
  line-height: 32.5px;
  color: #263238;
}
@media screen and (max-width: 992px) {
  h6 {
    font-size: 22.5px;
    line-height: 30px;
  }
}
@media screen and (max-width: 768px) {
  h6 {
    font-size: 20px;
    line-height: 27.5px;
  }
}
@media screen and (max-width: 480px) {
  h6 {
    font-size: 17.5px;
    line-height: 25px;
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: #263238;
  font-family: "Inter";
}
@media screen and (max-width: 992px) {
  p {
    font-size: 16.2px;
    line-height: 21.6px;
  }
}
@media screen and (max-width: 768px) {
  p {
    font-size: 14.4px;
    line-height: 19.8px;
  }
}
@media screen and (max-width: 480px) {
  p {
    font-size: 12.6px;
    line-height: 18px;
  }
}

a {
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  color: #263238;
  font-family: "Inter";
}
@media screen and (max-width: 992px) {
  a {
    font-size: 16.2px;
    line-height: 21.6px;
  }
}
@media screen and (max-width: 768px) {
  a {
    font-size: 14.4px;
    line-height: 19.8px;
  }
}
@media screen and (max-width: 480px) {
  a {
    font-size: 12.6px;
    line-height: 18px;
  }
}

button {
  width: 200px;
  height: 80px;
  border-radius: 70px;
  border: 0;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  color: #263238;
}
@media screen and (max-width: 992px) {
  button {
    font-size: 16.2px;
    line-height: 21.6px;
  }
}
@media screen and (max-width: 768px) {
  button {
    font-size: 14.4px;
    line-height: 19.8px;
  }
}
@media screen and (max-width: 480px) {
  button {
    font-size: 12.6px;
    line-height: 18px;
  }
}
button a {
  padding: 40px 80px;
}
button.button__white {
  background: #fff;
  color: #263238;
}
button.button__white:hover {
  background: #263238;
  color: #fff;
}
button.button__black {
  background: #263238;
  color: #fff;
}
button.button__black:hover {
  background: #fff;
  color: #263238;
  border: 2px solid #263238;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button {
  transition: all 0.3s;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
a span,
p span,
button span {
  color: #FF8C92;
}

#header {
  width: 100%;
  background-color: #F2F2F2;
  opacity: 0.95;
  display: flex;
  position: fixed;
  z-index: 10;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #263238;
  margin: 10px auto;
}
#header .header__logo {
  margin-top: 4px;
}
#header .header__logo img {
  width: 100%;
}
#header .header__navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header .header__navbar.open {
  display: flex;
  margin: 0;
}
#header .header__navbar .header__menu {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  margin-right: 60px;
}
#header .header__navbar .header__menu .header__item .header__link {
  color: #263238;
}
#header .header__navbar .header__menu .header__item .header__link:hover {
  color: #FF8C92;
}
#header .header__navbar .header__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  #header .header__navbar .header__button {
    margin: 0 auto;
  }
}
#header .header__navbar .header__button img {
  width: 22px;
  margin-left: 8px;
}
#header .header__burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 32px;
  height: 18px;
}
#header .header__burger.active span {
  transform: scale(0);
}
#header .header__burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
#header .header__burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
#header .header__burger::after, #header .header__burger::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #263238;
  transition: all 0.3s;
}
#header .header__burger::before {
  top: 0;
}
#header .header__burger::after {
  bottom: 0;
}
#header .header__burger span {
  height: 3px;
  width: 100%;
  transform: scale(1);
  background-color: #263238;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  #header .header__logo {
    margin-top: 4px;
  }
  #header .header__logo img {
    width: 70%;
  }
  #header .header__burger {
    display: flex;
  }
  #header .header__burger.active::after, #header .header__burger.active::before {
    background-color: #fff;
    transition: all 0.3s;
  }
  #header .header__burger.active span {
    background-color: #fff;
    transition: all 0.3s;
  }
  #header .header__navbar {
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 60% 30%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #4E4E4E;
    transition: all 0.3s;
  }
  #header .header__navbar.open {
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 60% 30%;
    position: fixed;
  }
  #header .header__navbar .header__menu {
    height: 50%;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  #header .header__navbar .header__menu .header__item .header__link {
    color: #fff;
    font-size: 18px;
  }
  #header .header__navbar .header__chat {
    margin: 0 auto;
  }
}

#hero {
  padding: 100px 0;
  background-color: #F2F2F2;
}
#hero .hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
  grid-column-gap: 40px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  #hero .hero {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}
#hero .hero__text {
  width: 100%;
}
#hero .hero__text .hero__subtitle {
  font-weight: 800;
}
#hero .hero__text .hero__title {
  margin-top: 8px;
}
#hero .hero__text .hero__title span {
  color: #FF8C92;
}
@media screen and (max-width: 480px) {
  #hero .hero__text .hero__title {
    font-size: 40px;
    line-height: 48px;
  }
}
#hero .hero__text .hero__desc {
  margin-top: 14px;
}
#hero .hero__text .hero__buttons {
  display: flex;
  align-self: center;
  margin-top: 38px;
}
#hero .hero__text .hero__buttons .hero__button:last-child {
  margin-left: 22px;
}
@media screen and (max-width: 992px) {
  #hero .hero__text .hero__buttons {
    display: grid;
  }
  #hero .hero__text .hero__buttons .hero__button {
    width: 100%;
  }
  #hero .hero__text .hero__buttons .hero__button:last-child {
    margin-left: 0px;
    margin-top: 22px;
  }
}
#hero .hero__img {
  width: 100%;
}
#hero .hero__img img {
  width: 100%;
}

#expert {
  padding: 10% 0;
  background-color: #fff;
}
#expert .expert {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  #expert .expert {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  #expert .expert {
    grid-template-rows: 40% 60%;
  }
}
#expert .expert__text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-columns: 30% 60%;
}
@media screen and (max-width: 1400px) {
  #expert .expert__text {
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 40%;
  }
}
@media screen and (max-width: 480px) {
  #expert .expert__text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
  }
}
#expert .expert__text .expert__years h1 {
  font-size: 120px;
}
@media screen and (max-width: 1400px) {
  #expert .expert__text .expert__years {
    display: grid;
    justify-content: end;
    margin-right: 30px;
  }
}
@media screen and (max-width: 480px) {
  #expert .expert__text .expert__years {
    justify-content: center;
    margin-bottom: 40px;
  }
}
#expert .expert__text .expert__years-text .expert__desc {
  margin-top: 21px;
}
#expert .expert__skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
}
@media screen and (max-width: 768px) {
  #expert .expert__skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    margin-top: 60px;
  }
}
#expert .expert__skills .expert__item {
  padding: 45px 36px 45px 36px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 25px;
}
@media screen and (max-width: 1400px) {
  #expert .expert__skills .expert__item {
    display: grid;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  #expert .expert__skills .expert__item img {
    width: 100%;
  }
}
#expert .expert__skills .expert__item .expert__subtitle {
  margin-top: 38px;
}
#expert .expert__skills .expert__item.expert__item-blue {
  background: #f2f6f7;
  color: #687982;
}
#expert .expert__skills .expert__item.expert__item-red {
  background: #f3eaeb;
  color: #936c70;
}

#work {
  background-color: #fff;
}
#work .work {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #f5f4f4;
  border-radius: 30px;
}
@media screen and (max-width: 992px) {
  #work .work {
    max-width: 100%;
    border-radius: 0px;
    margin-top: 120px;
  }
}
#work .work__text {
  max-width: 650px;
  padding: 120px 40px;
  margin: 0 auto;
  text-align: center;
}
#work .work__list {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  max-width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  #work .work__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
#work .work__list .work__card {
  padding: 60px;
  border-radius: 30px;
}
@media screen and (max-width: 992px) {
  #work .work__list .work__card {
    padding: 30px;
  }
}
#work .work__list .work__card.card__first {
  background: #ece6e7;
}
#work .work__list .work__card.card__second {
  background: #e0e8ea;
}
#work .work__list .work__card.card__third {
  background: #f0e2db;
}
#work .work__list .work__card.card__forth {
  background: #ebe1e6;
}
#work .work__list .work__card .work__card-text {
  display: grid;
  text-align: center;
}
#work .work__list .work__card .work__card-text .work__desc {
  margin-top: 10px;
}
#work .work__list .work__card .work__card-text .work__button {
  margin: 60px auto 0;
}
#work .work__list .work__card .work__button {
  margin: 80px auto;
}
#work .work .work__button {
  margin: 80px auto;
}

#project {
  padding-top: 120px;
}
#project .project {
  width: 70%;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#project .project__text {
  padding-top: 10%;
}
#project .project__card {
  width: 80%;
  margin: 0 auto;
}
#project .project__card .project__values {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
  margin-top: 40px;
}
#project .project__card .project__values input {
  width: 100%;
  padding: 24px 48px;
  border-radius: 70px;
  border: 0;
  font-size: 18px;
  background-color: #F2F2F2;
  margin: 0 auto;
}
#project .project__card .project__signs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 40px;
}
#project .project__card .project__signs button {
  width: 100%;
  font-size: 28px;
  text-align: center;
}
#project .project__result {
  text-align: left;
  margin-top: 40px;
}

#footer .footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 80px 0 40px 0;
}
@media screen and (max-width: 992px) {
  #footer .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }
}
#footer .footer__logo {
  display: grid;
  justify-content: flex-start;
  align-items: center;
}
#footer .footer__text {
  text-align: end;
}
@media screen and (max-width: 992px) {
  #footer .footer__text {
    text-align: center;
    margin-top: 24px;
  }
}
#footer .footer__text .footer__desc {
  margin-top: 12px;
}